#lightBox {
    background-color: black;
    width: 930px; /*400*/
    height: 512px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left
}

#lightBox .image-browser-image {
    width: 800px;
    height: 450px;
    border: 1px solid #333;
    overflow: hidden;
    padding: 0px;
    float: left;
    position: relative
}

#lightBox .image-browser-thumbs {
    width: 127px;
    height: 452px;
    overflow-y: scroll;
    float: right
}

#lightBox .image-browser-thumbs table {
}

#lightBox .image-browser-thumbs tr {
}

#lightBox .image-browser-thumbs td {
}

#lightBox .image-browser-thumbs div.image-browser-thumb-box {
    height: 55px;
    width: 100px;
    padding: 0px;
    margin: 3px;
    border: 1px solid #333
}

#lightBox .image-browser-thumbs div.image-browser-active {
    border: 3px solid red
}

#lightBox .image-browser-caption {
    height: 50px;
    width: 800px;
    float: left;
    padding-left: 5px;
    color: #999;
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-size: 12px; /*napevno protoze je to v tabulce*/
}

.image-browser-caption span {
    display: block;
    font-size: 11px
}

#lightBox .image-browser-caption a {
    color: #999
}

#lightBox .image-browser-photo-count {
    width: 100px;
    height: 50px;
    margin-right: 15px;
    padding-top: 7px;
    text-align: center;
    float: right;
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-size: 12px; /*napevno protoze je to v tabulce*/
}

div.image-browser-root {
    background: url(/static/images/bg.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/bg.png', sizingMethod='scale'); /**/
}

.image-browser-prev {
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    width: 42px;
    height: 36px;
    cursor: pointer;
    background: url(/static/images/lb-previous-active.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/lb-previous-active.png'); /**/
}

.image-browser-prev:hover {
    background: url(/static/images/lb-previous-hover.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/lb-previous-hover.png'); /**/
}

.image-browser-next {
    position: absolute;
    top: 20px;
    left: 66px;
    display: block;
    width: 42px;
    height: 36px;
    cursor: pointer;
    background: url(/static/images/lb-next-active.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/lb-next-active.png'); /**/
}

.image-browser-next:hover {
    background: url(/static/images/lb-next-hover.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/lb-next-hover.png'); /**/
}

.image-browser-prev-disabled {
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    width: 42px;
    height: 36px;
    cursor: pointer;
    background: url(/static/images/lb-previous-inactive.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/lb-previous-inactive.png'); /**/
}

.image-browser-next-disabled {
    position: absolute;
    top: 20px;
    left: 66px;
    display: block;
    width: 42px;
    height: 36px;
    cursor: pointer;
    background: url(/static/images/lb-next-inactive.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/lb-next-inactive.png'); /**/
}

#lightBox .image-browser-close {
    position: absolute;
    top: 20px;
    left: 760px;
    display: block;
    width: 42px;
    height: 36px;
    cursor: pointer;
    background: url(/static/images/lb-close-active.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/lb-close-active.png'); /**/
}

#lightBox .image-browser-close:hover {
    background: url(/static/images/lb-close-hover.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/lb-close-hover.png'); /**/
}

.singleLightBox {
    background-color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left
}

.singleLightBox .singlePicture {
    border: 1px solid #333;
    overflow: hidden;
    padding: 0px;
    position: relative
}

.singleLightBox .image-browser-caption {
    height: 50px;
    padding-left: 5px;
    color: #999;
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 140%;
    font-size: 12px; /*napevno protoze je to v tabulce*/
}

.singleLightBox .image-browser-caption a {
    color: #999
}

.singleLightBox .image-browser-close {
    position: absolute;
    top: 20px;
    right: 30px;
    display: block;
    width: 42px;
    height: 36px;
    cursor: pointer;
    background: url(/static/images/lb-close-active.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/lb-close-active.png'); /**/
}

.singleLightBox .image-browser-close:hover {
    background: url(/static/images/lb-close-hover.png);
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/lb-close-hover.png'); /**/
}

.singleLightBox .image-browser-caption a {
    color: #999
}

div.image-browser-prev-preload {
    background: url(/static/images/lb-previous-hover.png)
}

div.image-browser-next-preload {
    background: url(/static/images/lb-next-hover.png)
}

div.image-browser-close-preload {
    background: url(/static/images/lb-close-hover.png)
}